:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --dkClr: #000000;
  --ltClr: whitesmoke;
  --accClr: #0D0D35;
}

body {
  background-color: var(--dkClr);
  color: var(--ltClr);
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  margin: 0;
  overflow: hidden;
  margin-top: 5%;
  /* background-image: url(./public/walllpaper.jpg); */
}

#gameCanvas {
  border: 0px solid red;
  margin-left: 20%;
 
  
}
